.diagnostic {
    max-width: 1600px;
        background-color: var(--hero-footer-background);
        background-image: linear-gradient(rgba(169, 170, 183, 0.7),
                rgba(170, 171, 185, 0.7)),
            url(../img/bg/bg2.jpeg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin: 40px auto;
        padding: 40px 0;
    
}
.diagnostic_list {
    margin-bottom: 32px;
}


.sub_text {
    color: var(--accent-dark-color);
        font-weight: 500;
        font-size: 18px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        margin-bottom: 20px;

}
.sub_text_accent{
    color: var(--accent-dark-color);
        font-weight: 900;
        font-size: 24px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        margin-bottom: 20px;
}
.secondary_text {
   
    color: var(--accent-dark-color);
        font-weight: 500;
        font-size: 18px;
        line-height: 1.6;
        letter-spacing: 0.02em;
}
.secondary_text_accent {
   
        color: var(--accent-dark-color);
        font-weight: 900;
        font-size: 20px;
        line-height: 1.14;
        letter-spacing: 0.02em;
}
.title_text {
    color: var(--accent-dark-color);
    font-weight: 900;
    font-size: 24px;
    line-height: 1.6;
    letter-spacing: 0.02em;
    margin-bottom: 24px;
   
}
.diagnostic_img {
    width: 280px;
    margin: 10px 0;
}
.diagnostic_img_size1 {
    width: 220px;
    margin: 10px 0;
}

.diagnostic_icon {
    width: 14px;
    height: 14px;
}
.methods-selection {
    color: red;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.6;
        letter-spacing: 0.02em;
        font-style: italic;
}