
.deseases {
    margin: 0 auto; 
        max-width: 1600px;
        background-color: var(--hero-footer-background);
        background-image: linear-gradient(rgba(145, 148, 182, 0.8),
                rgba(145, 148, 179, 0.8)),
            url(../../img/bg/bg7.jpeg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        
        padding: 40px 0;
    
}
.deseases_title {
    color: white;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: underline;
    margin-bottom: 32px;
    
}
.deseases_item {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.deseases_subtitle {
    color: var(--text-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    margin-bottom: 18px;
}

.deseases_img {
    width: 280px;
    margin-bottom: 14px;
}
.deseases_img_size {
    width: 220px;
    margin-bottom: 14px;
}
.deseases_description {
    text-align: center;
    color: var(--text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    margin-bottom: 24px;
}