.header_navigatons {
    display: flex;
    justify-content: space-around;
    margin: 32px 0;
   
}
.header-navigations_list {
    display: flex;
    gap: 36px;
    
}
.header-navigations_link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.03em;
}
.header_line {
    border-bottom: 2px solid var(--accent-dark-color);
}
.header-navigations_link_neurology {
    display: block;
    margin-left: 120px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    text-transform: uppercase;

}   
.header-navigations_link_neurology:hover {
    color: var(--title-color);
}
.title_volkov {
    text-align: center;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    margin: 48px 0;
    
}
.hero {
        margin: 0 auto;
            max-width: 1600px;
            color: white;
            background-color: #2F303A;
            // opacity: 0.5;
            background-image: linear-gradient(to right, rgba(38, 49, 165, 0.7), rgba(54, 66, 201, 0.7)),
                url(../../img/x-imagebanner.webp);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
                padding-top: 20px;
                padding-bottom: 20px;

}

