// нові стилі

.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.neurovolkov_logo {

    width: 280px;
    margin-top: 16px;
    margin-bottom: 48px;

}
.header_wrap {
    display: flex;
    flex-direction: column;
}
.header_navigation {
    display: flex;
    justify-content: flex-end;
    gap: 18px;
    margin-bottom: 28px;
}
.nav_list {
    display: flex;
    gap: 38px;
  
}
.neuro_list {
    display: flex;
    gap: 18px;
}
.neuro_link {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: var(--title-color) !important;
}
.nav_link {
    font-weight: 600;
        font-size: 16px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--text-color);
}
.nav_link:hover {
    color: var(--title-color);
}
